page-confirm-order {
  .goods-price{
    color: #F15A4A;
    font-family: "Adobe 宋体 Std L";
    font-size: 15px;
  }
  img{
    height: 50px;
    width: 50px;
  }
  .goods-title{
    color: #333333;
    font-family: "Adobe 宋体 Std L";
    font-size: 15px;
    margin-left: 3px;
  }
}
