page-shoppingcart{
  .goods-price{
    color: #F15A4A;
    font-family: "Adobe 宋体 Std L";
    font-size: 15px;
  }
  .goods-title{
    color: #333333;
    font-family: "Adobe 宋体 Std L";
    font-size: 15px;
  }
  .item-inner{
    padding-right: 0!important
  }
  img{
    height:90px;
  }
}
