page-payment {
  .goods-price{
    color: #F15A4A;
    font-family: "Adobe 宋体 Std L";
    font-size: 15px;
  }
  img{
    height:30px!important;
    width: 30px!important;
  }
  .item-ios ion-thumbnail{
    min-height: 30px;
    min-width: 30px;
  }
}
