page-mine {
  .touxiang{
    width: 36px;
    height: 36px;
    border-radius: 50%;

  }
}
.card-background-page{
  ion-card-content{
    //background: #fff url("http://www.rorry.cn/1.jpg") no-repeat center;
  }
  ion-item{
    background: none;
  };
}
